.card {
  margin-top: 15%;
}

/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #1089f5;
}
/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 1px solid #1089f5;
  box-shadow: 0 1px 0 0 #1089f5;
}

/* label underline focus color */
.input-field .prefix.active {
  color: #1089f5;
}

.card-content > .card-title {
  color: #1089f5 !important;
}
